body {
    font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Center the content in the browser window */
.container {
    margin: auto;
    text-align: center;
}

.title {
    font-size: 3rem;
}

/*form css*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    border: 3px solid #f1f1f1;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
        margin-bottom: 10px;
    }

    .cancelbtn {
        width: 100%;
    }
}

.errorLabel {
    color: red;
}

/*form css*/

/*camera css*/


.hidden {
    display: none;
}

button {
    margin: 0 10px 20px 0;
    width: 99px;
}

button:last-of-type {
    margin: 0;
}

canvas {
    display: block;
    margin: 0 0 20px 0;
}

img {
    display: block;
    margin: 0 0 20px 0;
}

input#zoom {
    margin: 0 0 20px 0;
    width: 100%;
}

.borderBelow {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
}

video {
    margin: 0 12px 20px 0;
    vertical-align: top;
}

@media (max-width: 500px) {
    button {
        font-size: 0.8em;
        width: calc(33% - 5px);
    }
}

@media (max-width: 720px) {
    video {
        margin: 0 10px 10px 0;
    }
}

/*camera css*/
